.badge {
  align-items: center;
  background-color: var(--components-bg-color);
  border: var(--border);
  border-radius: var(--radius);
  display: inline-flex;
  font-size: var(--font-size-small);
  font-weight: 700;
  height: var(--sizing-small);
  padding: 0 var(--spacing-small);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: baseline;
}

// Solid
// ... no border and solid background color
.badge--solid {
  background-color: var(--shade-4);
  border: 0 none;
  color: #ffffff;
}

// Bordered
// ... with transparent background
.badge--transparent {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

// Pills
// ... with rounded left and right ends
.badge--pill {
  border-radius: 2em;
}

// Sizes
// ... default to small
.badge--tiny {
  font-size: var(--font-size-tiny);
  height: var(--sizing-tiny);
  line-height: var(--sizing-tiny);
}
.badge--xsmall {
  font-size: var(--font-size-tiny);
  height: var(--sizing-xsmall);
  line-height: var(--sizing-xsmall);
}
.badge--small {
  font-size: var(--font-size-small);
  height: var(--sizing-small);
  line-height: var(--sizing-small);
}
.badge--medium {
  font-size: var(--font-size-medium);
  height: var(--sizing-medium);
  line-height: var(--sizing-medium);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

// Colors
// @each $colorsMap in ($colors, $shades) {
//   @each $name, $color in $colorsMap {
//     .badge--#{$name} {
//       background-color: $color;

//       &.solid {
//         background-color: $color;
//         color: #ffffff;
//       }
//       &.transparent {
//         background-color: transparent;
//         border-color: $color;
//         color: $color;
//       }
//     }
//   }
// }
