// Default
.cc-button {
  align-items: center;
  background-color: var(--components-bg-color);
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  font-family: var(--font-family-default);
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 500;
  height: var(--sizing-medium);
  justify-content: center;
  line-height: var(--line-height-dense);
  margin: 0 var(--spacing-small) 0 0;
  min-width: var(--sizing-medium);
  outline: none;
  padding: 0 var(--spacing-small);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;

  // Hover
  &.hover:not([disabled]),
  &:hover:not([disabled]) {
    background-color: var(--button-hover-bg-color);
  }

  // Focus
  &.focus:not([disabled]),
  &:focus:not([disabled]) {
    z-index: 1;
  }

  // Active
  &.active:not([disabled]),
  &:active:not([disabled]) {
    background-color: var(--button-active-bg-color);
  }

  // Disabled
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;
  }

  &:last-child {
    margin-right: 0;
  }

  // Icon or image
  > img,
  > cc-icon {
    margin-right: var(--spacing-tiny);
  }
}

// Clean
.cc-button--clean {
  background-color: transparent !important;
  border: 0px none;

  &.hover:not([disabled]):not(.disabled),
  &:hover:not([disabled]):not(.disabled) {
    color: var(--shade-5);
  }

  &.active:not([disabled]):not(.disabled),
  &:active:not([disabled]):not(.disabled) {
    color: var(--shade-4);
  }
}

// Fluid
.cc-button--fluid {
  display: flex;
  width: 100%;
}

// Expanded
.cc-button--expanded {
  height: var(--sizing-large);
  min-width: var(--sizing-large);
  padding-left: 2rem;
  padding-right: 2rem;
}

// Sizes
.cc-button--tiny {
  font-size: var(--font-size-tiny);
  height: var(--sizing-tiny);
  min-width: var(--sizing-tiny);
}
.cc-button--xsmall {
  font-size: var(--font-size-xsmall);
  height: var(--sizing-xsmall);
  min-width: var(--sizing-xsmall);
}
.cc-button--small {
  font-size: var(--font-size-small);
  height: var(--sizing-small);
  min-width: var(--sizing-small);
}
.cc-button--large {
  font-size: var(--font-size-large);
  height: var(--sizing-large);
  min-width: var(--sizing-large);
}
