.empty {
  color: var(--text-lighter-color);
  margin: 0 auto;
  max-width: 480px;
  padding: var(--spacing-large);
  text-align: center;

  p {
    &:last-child {
      margin: 0;
    }
  }

  &__icon {
    font-size: 4rem;
    margin-bottom: var(--spacing-medium);
  }
  &__image {
    margin-bottom: var(--spacing-medium);
  }
  &__title {
    color: var(--text-lighter-color);
  }
  &__button {
    margin: 0 0 var(--spacing-tiny);

    &:last-child {
      margin: 0;
    }
  }
}
