.auth {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 3.125rem);
  width: 100%;

  &__card {
    background-color: var(--components-bg-color);
    border: var(--border);
    border-radius: var(--radius-large);
    max-width: 25rem;
    padding: var(--spacing-large);
    width: 100%;
  }
}
