.listing {
  display: grid;
  gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  &__item {
    background-color: var(--components-bg-color);
    border: var(--border);
    border-radius: var(--radius);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: var(--spacing-medium);
    transition: all 250 ease-in;

    &:hover {
      border-color: var(--border-dark-color);
    }
  }
  &__item-desc {
    margin-bottom: var(--spacing-small);
    flex-grow: 1;
  }
  &__item-tag {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: inline-block;
    font-size: var(--font-size-small);
    height: var(--sizing-small);
    line-height: var(--sizing-xsmall);
    margin: 0 var(--spacing-tiny) var(--spacing-tiny) 0;
    padding: 0 var(--spacing-small);
  }
}
