.header {
  background-color: var(--components-bg-color);
  border-bottom: var(--border);
  height: 3.125rem;
  position: sticky;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--global-width);
    width: 100%;
  }
}
